:root {
  --gradient: linear-gradient(to right, #EFB467 , #DE8667);
  --orange: #DE8667;
  --alternative: #EFB467;
}

h1, h2, h3, h4, h5, p{
  font-family: 'Raleway';
  font-style: normal;
}

h1{
  font-size: 6.125em;
  font-weight: 300;
  line-height: 5.625rem;
  letter-spacing: -0.094rem;
}

h2{
  font-size: 3.8125em;
  font-weight: 300;
  line-height: 4.5rem;
  letter-spacing: -0.031rem;
}

h3{
  font-size: 3.0625em;
  font-weight: 400;
  line-height: 3.625rem;    
}

h4{
  font-weight: 400;
  font-size: 2.1875em;
  line-height: 2.563rem;
  letter-spacing: 0.016rem;
  margin-bottom: 0.5rem;
}

h5{
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.75rem;
}

p{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.188rem;
}

.p-bold{
  font-weight: 700;
  font-size: 1em;
  line-height: 1.188rem;
}

.caption{
  font-weight: 400;
  font-size: 0.75em;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
  margin: 0;
}

.button-text{
  margin: auto;
}

.alternative-text{
  color: var(--alternative);
  text-decoration: none;
}

.centered-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 2%;
}

form{
  width: 100%;
}

.inline{
  display: inline;
  margin-top: 0;
}

.text-under-form{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.first-text{
  margin-right: auto;
}
.second-text{
  margin-left: auto;
}


/* NAVBAR */
nav{
  padding-top: 3rem;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
}

.profile-photo-circle{
  background-image: url('/public/pictures/profile-photo.png');
  background-position: center;
}
.add-quote-circle{
  background-image: url('/public/pictures/add-button-white.png');
}

.profile-nav{
  background-color: var(--orange);
}

.profile-list{
  color: white;
}

.nav-right{
  float: right;
}

.nav-link-profile{
  text-decoration: none;
}

.nav-link, .orange-text{
  color: var(--orange);
  text-decoration: none;
}

.white-text{
  color: white;
}

.logo{
  padding-top: 0.656rem;
  width: 7.235rem;
  height: 1.469rem;
}

.list{
  display: flex;
  list-style: none;
  align-items: center;
}

.button{
  border-radius: 6.25rem;
}

.signup-button{
  width: 8.563rem;
  height: 2.5rem;
  margin-right: 1.938rem;
  border: none;
  background-color: var(--orange);
  color: white;
}

.login-button{
  width: 8.563rem;
  height: 2.5rem;
  background-color: white;
  outline: 6.25rem;
  border-style: solid;
  border-color: var(--orange) !important;
  color: var(--orange);
}


/* FOOTER */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  margin-top: 10%;
  width: 100%;
  min-width: 14em;
  height: 4rem;
  background-color: var(--orange);
  color: white;
}

.quote-icon{
  padding-left: 4.375rem;
  height: 1.563rem;
  width: 2.063rem;
}

.footer-text{
  padding-right: 4.375rem;
  font-size: 0.75em;
  align-items: center;
}


/* LANDING PAGE */
.index-div{
  margin-left: 11.25rem;
  display: flex;
  align-items: center;
  gap: 9.063rem;
}

.first-flex-item{
  margin-top: 12.5rem;
}

.welcome-heading{
  margin-bottom: 0;
  margin-top: 0;
}

.welcome-paragraph{
  margin-top: 1rem;
  width: 33.125rem;
}

.second-flex-item{
  margin-top: 12.188rem;
  margin-right: 8.688rem;
}

.explore-heading{
  width: 43.938rem;
  margin-top: 10.875rem;
  margin-bottom: 7.75rem;
}

.p-under-h4{
  width: 32.75rem;
  margin-top: 0;
  margin-bottom: 2.125rem;
}

.quotes-layout{
  column-count: 3;
  column-gap: 1.188rem;
  width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.quote-card{
  background: #FFFFFF;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  gap: 1.313rem;
  page-break-inside: avoid;
  margin-bottom: 1.188rem;
  width: 23.25rem;
  margin-left: auto;
  margin-right: auto;
}

.signup-to-see-more{
  width: 11.5rem;
  height: 2.5rem;
  font-size: 1em;
  background-color: white;
  border-style: solid;
  border-color: var(--orange);
  color: var(--orange);
  margin-top: 2.063rem;
  margin-bottom: 11.375rem;
}

.random-quote-card{
  width: 23.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.938rem;
}

.random-quote-upvotes{
  padding-left: 0.188rem;
}

.arrow{
  border: solid black;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.25rem;  
  transform: rotate(-135deg);
  margin-left: 0.5rem;
}

.orange-arrow{
  border: solid var(--orange);
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.25rem;  
  transform: rotate(-135deg);
  margin-left: 0.5rem;
}

.up-arrow{
  transform: rotate(-135deg);
}

.down-arrow{
  transform: rotate(45deg);
}

.upvotes-number{
  margin: 0;
  text-align: center;
}

.voting{
  width: 1.688rem;
}

.center-div{
  text-align: center;
}

.quote-and-author{
  width: 18.438rem;
}

.quote-author{
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.profile-photo-small{
  height: 1.625rem;
  width: 1.625rem;
}

.quote-settings{
  width: 1rem;
}

.edit-remove-icon{
  height: 1rem;
  width: 1rem;
}

.edit-icon{
  margin-bottom: 1rem;
}

.load-more-button{
  width: 9.25rem;
  height: 2.5rem;
  outline: 6.25rem;
  border-style: solid;
  background-color: white;
  border-color: var(--orange) !important;
  color: var(--orange);
  margin-bottom: 8rem;
}

.signup-button-wide{
  width: 26.25rem;
  margin-bottom: 1rem;
  font-size: 1em;
  background-color: var(--orange) !important;
  color: white;
  margin-top: 1rem;
}

/* PROFILE PAGE */
.upper-profile-page{
  height: 20.406rem;
  background-color: var(--orange);
}

.lower-profile-page{
  margin-top: 5.688rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.125rem;
  width: 81.25rem;
  display: flex;
}

.profile-photo-large{
  height: 5.375rem;
  width: 5.375rem;
  margin-top: 6.25rem;
}

.name-surname-big{
  margin-top: 1.125rem;
  margin-bottom: 2.375rem;
}

.statistics{
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 15.688rem;
  height: 5.188rem;
  background-color: white;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.statistics-text{
 margin: 0;
 margin-bottom: 0.25rem;
 width: 7.688rem;
}

.statistics-number{
  margin: 0;
}

.profile-quotes{
  width: 26.25rem;
}

.middle-quotes{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.profile-h5{
  margin-top: 0;
  margin-bottom: 1.688rem;
  padding-left: 1rem;
}


/* PROFILE SETTINGS */
.profile-settings{
  width: 525px;
  background-color: white;
  box-shadow: 0rem 0rem 0.rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid black;
}

.profile-h4{
  margin-bottom: 0;
  margin-top: 0;
}

.popup-content{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; 
}

.input-big{
  border-radius: 6.25rem;
  background-color: white !important;
  border: 0.125rem solid var(--orange);
  padding: 0.625rem;
  width: 33.063rem;
  box-sizing: border-box;
}

.name-input-big{
  width: 16.031rem;
}

.yellow-background{
  background-color: var(--alternative);
}

.orange-background{
  background-color: var(--orange);
}

.medium-button{
  color: white;
  margin-top: 1rem;
  font-size: 1em;
  font-family: 'Raleway';
  border-radius: 6.25rem;
  border: none;
  width: 16.031rem;
  height: 2.5rem;
}

.submit-button-small{
  margin-top: 1rem;
  margin-right: 1.875rem;
  width: 8.563rem;
  height: 2.5rem;
  background-color: var(--orange) !important;
  color: white;
}

.flex-buttons{
  align-items: center;
}
.flex-button{
  align-items: center;
  justify-content: center;
}

.cancel-text{
  position: absolute;
  left: 34%;
  top: 80.5%;
}

.cancel-text-password{
  position: absolute;
  left: 34%;
  top: 81.5%;
}

.cancel-text-delete{
  position: absolute;
  left: 34%;
  top: 78%;
}

.cancel-text-create-delete{
  position: absolute;
  left: 34%;
  top: 65%;
}

.cancel-text-edit{
  position: absolute;
  left: 34%;
  top: 72%;
}

.cancel-text-create{
  position: absolute;
  left: 34%;
  top: 76%;
}

/* PROFILE SETTINGS CHANGED */

.profile-settings-changed{
  width: 32.813rem;
  background-color: white;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid black;
}

/* CREATE OR EDIT QUOTE */
.crete-update-quote{
  background-color: white;
  height: auto;

  width: 32.813rem;

  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid black;
}

textarea{
  border: 0.125rem solid #DE8667 !important;
  font-size: 1em;
  border-radius: 1rem !important;
  font-family: 'Raleway';
}


/* QUOTE ADDED/CHANGED */
.confirmation-quote{
  background-color: white;
  height: auto;

  width: 19.813rem;

  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 2rem;
  border: 0.125rem solid black;
}

/* LOGIN */
.login-div{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 26.25rem;
  min-width: 12em;
  margin: auto;
}

.login-heading{
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.login-paragraph{
  margin-top: 0;
  text-align: center;
}

.label-text{
  margin-bottom: 0;
  font-size: 0.875em;
}

input{
  border-radius: 6.25rem;
  background-color: white !important;
  border: 0.125rem solid var(--orange);
  padding: 0.625rem;
  width: 100% !important;
  box-sizing: border-box;
}

.submit-button{
  margin-top: 1rem;
  font-size: 1em;
  font-family: 'Raleway';
  color: var(--orange);
}

.right-text{
  text-align: right;
}


/* REGISTER */
.signup-div{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 26.25rem;
  min-width: 12rem;
  margin: auto;
}

.register-photo{
  height: 4rem;
  width: 4rem;
}

.name-surname{
  display: flex;
}

.name-input{
  width: 110% !important;
}

.surname-input{
  margin-left: 2em;
}


@media only screen and (max-width: 480px) {

  .surname-input{
    margin-left: 0;
  }
  .name-input{
    width: 100% !important;
  }
  .name-surname{
    justify-content: space-between;
  }
  .signup-div{
    margin: auto 2.0625em auto 2.0625em;
  }
  .inline{
    margin-right: 0.5rem;
  }
  .right-text{
    white-space: nowrap;
  }

  .login-div{
    margin: auto 2.0625em auto 2.0625em;
  }
}

