:root {
  --gradient: linear-gradient(to right, #EFB467 , #DE8667);
  --orange: #DE8667;
  --alternative: #EFB467;
}

h1, h2, h3, h4, h5, p{
  font-family: 'Raleway';
  font-style: normal;
}

h1{
  font-size: 98px;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: -1.5px;
}

h2{
  font-size: 61px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -0.5px;
}

h3{
  font-weight: 400;
  font-size: 49px;
  line-height: 58px;    
}

h4{
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.25px;
  margin-bottom: 8px;
}

h5{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.p-bold{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.caption{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  margin: 0;
}

.button-text{
  margin: auto;
}

.alternative-text{
  color: var(--alternative);
  text-decoration: none;
}

.centered-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* NAVBAR */
nav{
  padding-top: 48px;
  padding-left: 70px;
  padding-right: 70px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.profile-photo-circle{
  background-image: url('/public/pictures/profile-photo.png');
  background-position: center;
}
.add-quote-circle{
  background-image: url('/public/pictures/add-button-white.png');
}

.profile-nav{
  background-color: var(--orange);
}

.profile-list{
  color: white;
}

.nav-right{
  float: right;
}

.nav-link-profile{
  text-decoration: none;
}

.nav-link, .orange-text{
  color: var(--orange);
  text-decoration: none;
}

.white-text{
  color: white;
}

.logo{
  padding-top: 10.5px;
  width: 115.76px;
  height: 23.5px;
}

.list{
  display: flex;
  list-style: none;
  align-items: center;
}

.button{
  border-radius: 100px;
}

.signup-button{
  width: 137px;
  height: 40px;
  margin-right: 31px;
  border: none;
  background-color: var(--orange);
  color: white;
}

.login-button{
  width: 137px;
  height: 40px;
  background-color: white;
  outline: 100px,;
  border-style: solid;
  border-color: var(--orange) !important;
  color: var(--orange);
}


/* FOOTER */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  background-color: var(--orange);
  color: white;
}

.quote-icon{
  padding-left: 70px;
  height: 25px;
  width: 33px;
}

.footer-text{
  padding-right: 70px;
  font-size: 12px;
  align-items: center;
}


/* LANDING PAGE */
.index-div{
  margin-left: 180px;
  display: flex;
  align-items: center;
  gap: 145px;
}

.first-flex-item{
  margin-top: 200px;
}

.welcome-heading{
  margin-bottom: 0;
  margin-top: 0;
}

.welcome-paragraph{
  margin-top: 16px;
  width: 530px;
}

.second-flex-item{
  margin-top: 195px;
  margin-right: 139px;
}

.explore-heading{
  width: 703px;
  margin-top: 174px;
  margin-bottom: 124px;
}

.p-under-h4{
  width: 524px;
  margin-top: 0;
  margin-bottom: 34px;
}

.quotes-layout{
  column-count: 3;
  column-gap: 19px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.quote-card{
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 16px;
  gap: 21px;
  page-break-inside: avoid;
  margin-bottom: 19px;
  width: 372px;
}

.random-quote-card{
  width: 372px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 127px;
}

.arrow{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;  
  transform: rotate(-135deg);
  margin-left: 8px;
}

.orange-arrow{
  border: solid var(--orange);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;  
  transform: rotate(-135deg);
  margin-left: 8px;
}

.up-arrow{
  transform: rotate(-135deg);
}

.down-arrow{
  transform: rotate(45deg);
}

.upvotes-number{
  margin: 0;
  text-align: center;
}

.voting{
  width: 27px;
}

.center-div{
  text-align: center;
}

.quote-and-author{
  width: 295px;
}

.quote-author{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-photo-small{
  height: 26px;
  width: 26px;
}

.quote-settings{
  width: 16px;
}

.edit-remove-icon{
  height: 16px;
  width: 16px;
}

.edit-icon{
  margin-bottom: 15px;
}

.load-more-button{
  width: 148px;
  height: 40px;
  outline: 100px,;
  border-style: solid;
  background-color: white;
  border-color: var(--orange) !important;
  color: var(--orange);
  margin-bottom: 128px;
}

.signup-button-wide{
  width: 420px;
  height: 40px;
  font-size: 16px;
  background-color: var(--orange) !important;
  color: white;
  margin-top: 16px;
}

/* PROFILE PAGE */
.upper-profile-page{
  height: 326.5px;
  background-color: var(--orange);
}

.lower-profile-page{
  margin-top: 91px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  width: 1300px;
  display: flex;
}

.profile-photo-large{
  height: 86px;
  width: 86px;
  margin-top: 100px;
}

.name-surname-big{
  margin-top: 18px;
  margin-bottom: 38px;
}

.statistics{
  margin-right: auto;
  margin-left: auto;
  padding-left: 32px;
  padding-right: 32px;
  width: 251px;
  height: 83px;
  background-color: white;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.statistics-text{
 margin: 0;
 margin-bottom: 4px;
 width: 123px;
}

.statistics-number{
  margin: 0;
}

.profile-quotes{
  width: 420px;
}

.middle-quotes{
  margin-left: 20px;
  margin-right: 20px;
}

.profile-h5{
  margin-top: 0;
  margin-bottom: 27px;
  padding-left: 16px;
}


/* PROFILE SETTINGS */
.profile-settings{
  width: 525px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  border: 2px solid black;
}

.profile-h4{
  margin-bottom: 0;
  margin-top: 0;
}

.popup-content{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; 
}

.input-big{
  border-radius: 100px;
  background-color: white !important;
  border: 2px solid var(--orange);
  padding: 10px;
  width: 529px;
  box-sizing: border-box;
}

.name-input-big{
  width: 256.5px;
}

.yellow-background{
  background-color: var(--alternative);
}

.orange-background{
  background-color: var(--orange);
}

.medium-button{
  color: white;
  margin-top: 16px;
  font-size: 16px;
  font-family: 'Raleway';
  border-radius: 100px;
  border: none;
  width: 256.5px;
  height: 40px;
}

.submit-button-small{
  margin-top: 16px;
  margin-right: 30px;
  width: 137px;
  height: 40px;
  background-color: var(--orange) !important;
  color: white;
}

.flex-buttons{
  align-items: center;
}
.flex-button{
  align-items: center;
  justify-content: center;
}

.cancel-text{
  position: absolute;
  left: 34%;
  top: 80.5%;
}

.cancel-text-password{
  position: absolute;
  left: 34%;
  top: 81.5%;
}

.cancel-text-delete{
  position: absolute;
  left: 34%;
  top: 78%;
}

.cancel-text-create-delete{
  position: absolute;
  left: 34%;
  top: 65%;
}

.cancel-text-edit{
  position: absolute;
  left: 34%;
  top: 72%;
}

.cancel-text-create{
  position: absolute;
  left: 34%;
  top: 76%;
}

/* PROFILE SETTINGS CHANGED */

.profile-settings-changed{
  width: 525px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  border: 2px solid black;
}

/* CREATE OR EDIT QUOTE */
.crete-update-quote{
  background-color: white;
  height: auto;

  width: 525px;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  border: 2px solid black;
}

textarea{
  border: 2px solid #DE8667 !important;
  font-size: 16px;
  border-radius: 16px !important;
  font-family: 'Raleway';
}


/* QUOTE ADDED/CHANGED */
.confirmation-quote{
  background-color: white;
  height: auto;

  width: 317px;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  border: 2px solid black;
}

/* LOGIN */
.login-div{
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35.6em;
}

.login-text{
  height: 114px;
  width: 420px;
}

.login-heading{
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
}

.login-paragraph{
  margin-top: 0;
  text-align: center;
}

.login-form{
  margin-top: 32px;
}

.label-text{
  margin-bottom: 0;
  font-size: 14px;
}

input{
  border-radius: 100px;
  background-color: white !important;
  border: 2px solid var(--orange);
  padding: 10px;
  width: 420px;
  box-sizing: border-box;
}

.submit-button{
  margin-top: 16px;
  font-size: 16px;
  font-family: 'Raleway';
  color: var(--orange);
}

.right-text{
  float: right;
}


/* REGISTER */
.register-photo{
  height: 64px;
  width: 64px;
}

.name-surname{
  display: flex;
  gap: 16px;
}

.name-input{
  width: 202px;
}
